.sub-head{
    font-size: 24px;
    line-height: 1.1666666667;
    font-weight: 600;
    letter-spacing: -0.003em;
    font-family: SF Pro Display,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    margin: 10px;
    padding: 0%;
   
   
  
}
.head-container{
display: flex;
align-items: center;
flex-direction: column;
gap:-500px;




}
.sub-head2{
    font-size: 48px;
    line-height: 1.0834933333;
    font-weight: 600;
    letter-spacing: -0.003em;
    font-family: SF Pro Display,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-family: SF Pro Display,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    margin: 10px;
    padding: 0%;
    
}
.sub-para{
    font-size: 21px;
    line-height: 1.381002381;
    font-weight: 400;
    letter-spacing: .011em;
    font-family: SF Pro Display,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-family: SF Pro Display,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    margin: 0%;
    padding: 0%;
    margin-top: 20px;
}
.head-btn{
    border-radius: 980px;
   
    cursor: pointer;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    font-size: 17px;
    line-height: 1.1764805882;
    font-weight: 400;
    letter-spacing: -0.022em;
    font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    min-width: 28px;
    padding: 8px 16px;
    border-radius: 980px;
    background: #0071e3;
    color: #fff;
    font-family: SF Pro Display,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    
    
}
.head-a a{
    text-decoration: none;
    font-size: 21px;
    line-height: 1.381002381;
    font-weight: 400;
    letter-spacing: .011em;
    font-family: SF Pro Display,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    color: #06c;
    letter-spacing: inherit;
}
.ul-head{
    margin-left: 0;
    margin-right: 0;
    list-style: none;
    text-decoration: none;
    display: flex;
    gap: 20px;
}

.bann-image{
    background-image: url('./assests/images/banner.jpg');
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    color: white;
    z-index: 25;
    width: 981px;
    height: 496px;
    background-size: 981px 496px;
    left: 50%;
    margin-left: -490.5px;
    
    
}
.banner2-bc{
    background-color: black;
    color: #f5f5f7;


}
.bann-image2{
    background-image: url('./assests/images/banner2.jpg');
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
   
   
   
    left: 50%;
    margin-left: -490.5px;
    

    
    height: 393px;
    width: 961px;
    
    background-size: 999px 500px;


}
.head-container1{
    display: flex;
    align-items: center;
    flex-direction: column;
    
  

    
    }
    
    
    .sub-head1{
        font-size: 24px;
        line-height: 1.1666666667;
        font-weight: 600;
        letter-spacing: -0.003em;
        font-family: SF Pro Display,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
        margin: 10px;
        padding: 0%;
        margin-top: 80px;
       
       
      
    }

    .bann-image3{
        background-image: url('./assests/images/banner3.jpg');
        width: 494px;
    height: 830px;
    background-size: 494px 830px;
    background-repeat: no-repeat;
    
    }

    .banner3-container{
    display: flex;
    justify-content: center;
    column-gap: -20px;
  }
  .bann4{
    font-size: 48px;
    line-height: 1.0834933333;
    font-weight: 600;
    letter-spacing: -0.003em;
    font-family: SF Pro Display,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    color: #06c;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(90deg,#1e3791 0%,#2948b1 40%,#3153c6 55%,#385fda 60%);
    color: transparent;
  }
  .bannhide{
    position: absolute;
    clip: rect(1px,1px,1px,1px);
    clip-path: inset(0px 0px 99.9% 99.9%);
    overflow: hidden;
    height: 1px;
    width: 1px;
    padding: 0;
    border: 0;
  }
  .back-logo-container{
    margin-top: 50%;
    
  }
  .back-logo{
    background-image: url('./assests/images/se.jpg');
    width: 96px;
    height: 22px;
    background-size: 96px 22px;
    background-repeat: no-repeat;
    position: relative;
    left: 50%;
    margin-left: -48px;
    margin-top: 20px;
}
.bann4{
    display: flex;
    justify-content: center;
    margin-left: 50px;
}
.bann5{
    font-size: 21px;
    line-height: 1.381002381;
    font-weight: 400;
    letter-spacing: .011em;
    font-family: SF Pro Display,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-family: SF Pro Display,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    margin: 0%;
    padding: 0%;
    margin-top: 10px;
    margin-left: 40px;
  
}
  .head-btn1{
    border-radius: 980px;
   
    cursor: pointer;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    font-size: 17px;
    line-height: 1.1764805882;
    font-weight: 400;
    letter-spacing: -0.022em;
    font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    min-width: 28px;
    padding: 8px 16px;
    border-radius: 980px;
    background: #0071e3;
    color: #fff;
    font-family: SF Pro Display,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    margin-left: 130px;
  }